.mat-expansion-panel-header {
  background-color: white !important;
  height: auto !important;
  max-height: auto !important;
  padding: 8px 15px !important;
}
.mat-expansion-panel-header-title {
  color: black !important;
  width: 100% !important;
}
.ParentCheckBox {
  margin: 0.6rem !important;
  box-shadow: 0px 0px 7px -1px black !important;
}

.dialogContent {
  width: 50vw !important;
}

.mat-expansion-panel-header[aria-expanded="true"] {
  background-color: white !important;
  border-bottom: 1px solid lightgrey;
}

.mat-expansion-panel-body {
  padding: 6px 10px !important;
  height: 30vh !important;
  height: max-content !important;
  max-height: 40vh !important;
  overflow-y: scroll;
}
.settingType {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px !important;
}
.alarmResetDialog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.CommandSendButton {
  background-color: rgb(29, 184, 140) !important;
  color: white !important;
  font-size: 20px;
  padding: 5px 30px;
}

.CommandCancelButton {
  background-color: rgb(197, 24, 62) !important;
  color: white !important;
  font-size: 20px;
  padding: 5px 30px;
}

.takePictureDialog {
  display: flex;
  flex-direction: column;
  // align-items: center;
}
.camChannelRadio {
  display: flex;
  align-items: center;
}
