.d-none {
  display: none !important;
}
.fw-400 {
  font-weight: 400;
}
.gmnoprint {
  margin: 200px !important;
}
.panelKeysContainer {
  display: flex;
  background: #18497d !important;
  margin-bottom: 3px;
}
.userPanelKeys {
  color: white !important;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% / 3) !important;
}
.mat-tab-label {
  height: 48px;
  padding: 0 !important;
  cursor: pointer;
  box-sizing: border-box;
  opacity: 0.6;
  min-width: fit-content !important;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  position: relative;
}
.sideList {
  font-size: 11.9px;
  font-weight: bolder;
  background-color: #18497d;
  color: white;
  padding: 4px 0px 4px 7px;
  border-right: 4px solid white;
  font-family: "Times New Roman";
  border-radius: 4px 8px 0px 0px;
}
.mat-expansion-panel-header {
  background-color: #18497d !important;
}
.mat-expansion-panel-header.nestedPanelHeader {
  background: #4b89b9 !important;
}
.mat-expansion-panel-header-title {
  color: white !important;
  width: 100% !important;
}
.listText {
  padding: 5px 0px 0px 2px;
}

.listTextWarning {
  padding: 5px 0px 0px 10px;
}

.listHeading {
  margin-top: 10px;
  background-color: #18497d;
  color: white;
  padding: 10px 0px 10px 0px;
  border-right: 4px solid white;
}

.heading {
  word-spacing: 15px;
  padding-left: 10px;
  font-weight: bolder;
  font-size: 18px;
}
.tree {
  overflow-y: scroll;
  height: 77.4vh !important;
}

.tree::-webkit-scrollbar {
  display: none;
}
#tree3 li {
  // border: 1px solid red;
  max-width: max-content;
}

.vehicleCard {
  position: absolute;
  width: 45%;
  height: fit-content;
  z-index: 1111111;
  bottom: 4%;
  left: 30%;
  background-color: #F6F6F6;
  padding: 3px 2px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px; 
&::before{
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;  
  background-image:url("./assets/images/map.png") !important;
  background-size: 50% !important;
  background-position: center !important;
  background-repeat: no-repeat;
  filter: grayscale(100%);
}
}

.carName {
  font-size: 20px;
  color: #18497d;
  border-bottom: 2px solid #bca0dc;
}

.showMoreButton {
  background-color: #ffc922;
  color: #18497d;
}

.vehicleCardMore {
  position: absolute;
  width: 90%;
  z-index: 1111111;
  bottom: 4%;
  left: 5%; 
  padding: 7px 2px;
  background-color: #F6F6F6;
  padding-bottom: 0px !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
&::before{
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;  
  background-image:url("./assets/images/map.png") !important;
  background-size: 50% !important;
  background-position: center !important;
  background-repeat: no-repeat;
  filter: grayscale(100%);
}
}
.vehicleCardMore i {
  color: #00c190 !important;
}
.locationIcon {
  margin-top: 10px;
  padding-top: 40px;
  padding-bottom: 70px;
  margin-bottom: 10px;

  border-right: 2px solid #bca0dc;
}

.headingStatus {
  padding-left: 20%;
  font-size: 18px;
  color: #18497d;
}

.deviceStatus {
  padding: 0;
  margin-top: 4px;
}

.showLessButton {
  background-color: #ffc922;
  color: #18497d;
  margin-top: 2px;
}

.closeBtn {
  background-color: #d1cdbe;
}
.closeBtnLess {
  background-color: #d1cdbe;
  margin-top: 2px;
}

.Icon {
  margin-top: 10px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 10px;
}

.iconImg {
  margin-top: -10px;
}

.vehicleSpeedDescription3 {
  color: grey;
  font-size: 12px;
}

.shortdes {
  font-size: 10px;
}

.secondContainer {
  margin-top: 10px;
  margin-bottom: 10px;
  border-left: 2px solid #bca0dc;
}

.tree,
.tree ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.tree ul {
  margin-left: 1em;
  position: relative;
}
.tree ul ul {
  margin-left: 0.5em;
}

.tree li {
  margin: 0;
  padding: 0 1em;
  line-height: 2em;
  color: #369;
  font-weight: 700;
  position: relative;
}
.historyDialogTitle {
  background: #18497d !important;
  padding: 15px 10px !important;
  color: white !important;
  margin: 0px !important;
}
.historyInput {
  border: none !important;
  outline: none;
  border-radius: 20px;
  width: 80% !important;
  padding: 5px 10px;
  box-shadow: 0px 0px 4px 0px #000;
  color: lightgray;
}
.historyInputDate {
  border: none !important;
  outline: none;
  border-radius: 20px;
  width: 100% !important;
  padding: 5px 10px;
  box-shadow: 0px 0px 4px 0px #000;
  color: lightgray;
}
.historyInput:focus {
  outline: none;
  box-shadow: 0px 0px 5px 2px #2282e9;
}
.historyInputDate:focus {
  outline: none;
  box-shadow: 0px 0px 5px 2px #2282e9;
}
.historyDialogContent {
  margin: 10px 20px !important;
}
.recordDialog {
  position: absolute;
  bottom: 50px !important;
  // padding: 0px !important;
  background-color: #18497d;
  border-radius: 10px;
  left: 33%;
  width: 50%;
}
.googleMapRecord {
  width: 60%;
  left: 23%;
}
.recordDialog button {
  height: 50px !important;
  width: calc(80% / 6) !important;
  border: none;
  outline: none;
  margin-left: calc(10rem / 5);
  background-repeat: no-repeat;
  position: relative;
}
.recordDialog button img {
  height: 75% !important;
}

.recordDialog button:nth-of-type(5) img {
  height: 50% !important;
}
.recordDialog button:nth-of-type(6) img {
  height: 50% !important;
}
.recordDialog button:nth-of-type(7) img {
  height: 50% !important;
}
.export {
  position: absolute;
  top: -203% !important;
  left: 27px;
}
.export button {
  height: 45px !important;
  width: 45px !important;
  border: none;
  outline: none;
  background-color: transparent;
  border-radius: 50% !important;
  // box-shadow: 0px 0px 5px 0px black !important;
  margin-bottom: 10px;
}
.export button img {
  height: 100% !important;
}
.shapeSelect {
  position: absolute;
  bottom: 111% !important;
  left: 148px;
}
.shapeSelect button {
  height: 20px !important;
  width: 20px !important;
  border: none;
  outline: none;
  background-color: transparent;
  border-radius: 50% !important;
  // box-shadow: 0px 0px 5px 0px black !important;
  margin-bottom: 10px;
}
.shapeSelect button img {
  height: 100% !important;
}

.createFenceGoogleMap {
  height: max-content !important;
  width: 400px !important;
  position: absolute !important;
  right: 15px;
  top: 15px;
  background: white !important;
  outline: none;
  border-radius: 5px;
  .createFenceHeader{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding-left: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #18497D;
  }
}
.createFenceGoogleMap h3 {
  margin: 0px !important;
}
.createFenceGoogleMap .GooglefenceType {
  width: 100%;
  padding: 5px 20px;
  border-radius: 10px;
}
.createFenceGoogleMap .GooglefenceType:focus {
  box-shadow: none;
  outline: none;
}
.createFenceGoogleMap .confirmationBoxGoogle {
  padding: 10px !important;
  display: flex;
  justify-content: space-between;
}
.createFenceGoogleMap .confirmationBoxGoogle .fenceDrawBtnGoogle {
  border: none;
  outline: none;
  background: rgb(185, 125, 11);
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  margin-right: 5px;
}
.createFenceGoogleMap .confirmationBoxGoogle .fenceCancelBtnGoogle {
  border: none;
  outline: none;
  background: #bb2424;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  margin-right: 5px;
}

.createFenceGoogleMap .confirmationBoxGoogle .fenceDoneBtnGoogle {
  border: none;
  outline: none;
  background: rgb(24, 131, 24);
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
}
