<div mat-dialog-title class="dialogTitleInner">
<h3 class="m-0 p-0">{{settingName?settingName:'Test'}}</h3>

<button mat-icon-button (click)="cancelRequest()">
  <mat-icon>highlight_off</mat-icon>
</button>
</div>
<div class="m-0 p-0 dialogContent dialogContentInner" mat-dialog-content>
  <!-- Set Message Center Number Content -->
  <span
    class="alarmResetDialog"
    *ngIf="settingName =='Set Message Center Number'"
  >
  <!-- <img src=".././assets/img/vendor/google-maps/car-marker.png" alt=""> -->
    <p style="font-size: 2rem; margin-bottom: 10px !important; font-weight: bold" class="m-0">Enter Phone Number:</p>
    <input
      type="text"
      placeholder="Enter Phone Number"
      style="
        background: transparent;
        outline: none;
        border: none;
        border-bottom: 1px solid black;
        text-align: center;
        padding: 5px 15px;
        color: black;
        font-size: 13px;
        margin-bottom: 10px;
      "
      (change)="numberChange($event)"
      [value]="phoneNumber?phoneNumber:''"
      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1')"
    />

    <p style="font-size: 2rem; margin-bottom: 10px !important; font-weight: bold" class="m-0">Select Request Channel</p>
    <mat-radio-group
      aria-label="Select an option"
      color="primary"
      style="font-size: 15px; font-weight: 200"
      (change)="ChannelChange($event)"
    >
      <mat-radio-button value="GPRS">GPRS</mat-radio-button>
      <br />
      <mat-radio-button value="SMS">SMS</mat-radio-button>
    </mat-radio-group>
    <span class="actionBtnGroup">
      <button mat-button class="CommandSendButton" (click)="sendRequest()">
        Send
      </button>
      &nbsp;
      <button mat-button class="CommandCancelButton" (click)="cancelRequest()">
        Cancel
      </button>
    </span>
  </span>
  <!-- Set Message Center Number Content -->
  <!-- Reset to Factory Default Content -->
  <span
    class="alarmResetDialog"
    *ngIf="settingName =='Reset to Factory Default'"
  >
    <p style="font-size: 2rem; margin-bottom: 10px !important; font-weight: bold" class="m-0">Select Request Channel</p>
    <mat-radio-group
      aria-label="Select an option"
      color="primary"
      style="font-size: 15px; font-weight: 200"
      (change)="ChannelChange($event)"
    >
      <mat-radio-button value="GPRS">GPRS</mat-radio-button>
      <br />
      <mat-radio-button value="SMS">SMS</mat-radio-button>
    </mat-radio-group>
    <span class="actionBtnGroup">
      <button mat-button class="CommandSendButton" (click)="sendRequest()">
        Send
      </button>
      &nbsp;
      <button mat-button class="CommandCancelButton" (click)="cancelRequest()">
        Cancel
      </button>
    </span>
  </span>
  <!-- Reset to Factory Default Content -->
  <!-- Change IP Content -->
  <span class="alarmResetDialog" *ngIf="settingName =='Change IP'">
    <p style="font-size: 2rem; margin-bottom: 10px !important; font-weight: bold" class="m-0">Enter IP Address and Port:</p>
    <span>
      <input
        type="text"
        class="ipAddressInput"
        placeholder="Please enter IP Address"
        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1')"
        style="
          background: transparent;
          outline: none;
          border:none;
          border-bottom: 1px solid black;
          text-align: center;
          padding: 5px 15px;
          color: black;
          font-size: 13px;
          margin-bottom: 10px;
        "
      />
      &nbsp;:
      <input
        type="text"
        class="portInput"
        placeholder="PORT"
        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1')"
        style="
          background: transparent;
          outline: none;
          border:none;
          border-bottom: 1px solid black;
          text-align: center;
          padding: 5px 15px;
          color: black;
          font-size: 13px;
          margin-bottom: 10px;
          width: 60px;
        "
      />
    </span>
    <!-- oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$3')" -->
    <p style="font-size: 2rem; margin-bottom: 10px !important; font-weight: bold" class="m-0">Select Request Channel</p>
    <mat-radio-group
      aria-label="Select an option"
      color="primary"
      style="font-size: 15px; font-weight: 200"
      (change)="ChannelChange($event)"
    >
      <mat-radio-button value="GPRS">GPRS</mat-radio-button>
      <br />
      <mat-radio-button value="SMS">SMS</mat-radio-button>
    </mat-radio-group>
    <span class="actionBtnGroup">
      <button mat-button class="CommandSendButton" (click)="sendRequest()">
        Send
      </button>
      &nbsp;
      <button mat-button class="CommandCancelButton" (click)="cancelRequest()">
        Cancel
      </button>
    </span>
  </span>
  <!-- Change IP Content -->
  <!-- Change Domian Content -->
  <span class="alarmResetDialog" *ngIf="settingName =='Change Domain'">
    <p style="font-size: 2rem; margin-bottom: 10px !important; font-weight: bold" class="m-0">Enter new URL and Port:</p>
    <span>
      <input
        type="url"
        class="urlInput"
        placeholder="Please Enter URL"
        style="
          background: transparent;
          outline: none;
          border:none;
          border-bottom: 1px solid black;
          text-align: center;
          padding: 5px 15px;
          color: black;
          font-size: 13px;
          margin-bottom: 10px;
        "
      />
      &nbsp;:
      <input
        type="text"
        class="portInput"
        placeholder="PORT"
        style="
          background: transparent;
          outline: none;
          border:none;
          border-bottom: 1px solid black;
          text-align: center;
          padding: 5px 15px;
          color: black;
          font-size: 13px;
          margin-bottom: 10px;
          width: 60px;
        "
      />
    </span>
    <p style="font-size: 2rem; margin-bottom: 10px !important; font-weight: bold" class="m-0">Select Request Channel</p>
    <mat-radio-group
      aria-label="Select an option"
      color="primary"
      style="font-size: 15px; font-weight: 200"
      (change)="ChannelChange($event)"
    >
      <mat-radio-button value="GPRS">GPRS</mat-radio-button>
      <br />
      <mat-radio-button value="SMS">SMS</mat-radio-button>
    </mat-radio-group>
    <span class="actionBtnGroup">
      <button mat-button class="CommandSendButton" (click)="sendRequest()">
        Send
      </button>
      &nbsp;
      <button mat-button class="CommandCancelButton" (click)="cancelRequest()">
        Cancel
      </button>
    </span>
  </span>
  <!-- Change Domian Content -->
  <!-- Change APN Content -->
  <span class="alarmResetDialog" *ngIf="settingName =='Change APN'">
    <p style="font-size: 2rem; margin-bottom: 10px !important; font-weight: bold" class="m-0">Enter APN:</p>
    <input
      type="text"
      class="apnInput"
      placeholder="Please Enter new APN"
      style="
        background: transparent;
        outline: none;
    border: none;
    border-bottom: 1px solid;
        text-align: center;
        padding: 5px 15px;
        color: black;
        font-size: 13px;
        margin-bottom: 10px;
      "
    />
    <p style="font-size: 2rem; margin-bottom: 10px !important; font-weight: bold" class="m-0">Select Request Channel</p>
    <mat-radio-group
      aria-label="Select an option"
      color="primary"
      style="font-size: 15px; font-weight: 200"
      (change)="ChannelChange($event)"
    >
      <mat-radio-button value="GPRS">GPRS</mat-radio-button>
      <br />
      <mat-radio-button value="SMS">SMS</mat-radio-button>
    </mat-radio-group>
    <span class="actionBtnGroup">
      <button mat-button class="CommandSendButton" (click)="sendRequest()">
        Send
      </button>
      &nbsp;
      <button mat-button class="CommandCancelButton" (click)="cancelRequest()">
        Cancel
      </button>
    </span>
  </span>
  <!-- Change APN Content -->
  <!-- Change APN Username and Password Content -->
  <span
    class="alarmResetDialog"
    *ngIf="settingName =='Change APN User name and Password'"
  >
    <p style="font-size: 2rem; margin-bottom: 10px !important; font-weight: bold" class="m-0">Enter Username and Password:</p>
    <span style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
      <input
        type="text"
        class="usernameInput"
        placeholder="Please enter Username"
        [autocomplete]="false"
        style="
          background: transparent;
          outline: none;
          border: none;
          border-bottom: 1px solid black;
          text-align: center;
          padding: 5px 15px;
          color: black;
          font-size: 13px;
        "
      />
      <span>
      <input
        [type]="hidden?'password':'text'"
        class="passwordInput"
        placeholder="Please enter Password"
        [autocomplete]="false"
        style="
          background: transparent;
          outline: none;
          border: none;
          border-bottom: 1px solid black;
          text-align: center;
          padding: 5px 15px;
          color: black;
          font-size: 13px;
          margin-bottom: 10px;
          margin-left: 4rem;
        "
      />
      <button mat-icon-button (click)="togglePassword()">
        <mat-icon *ngIf="hidden">visibility</mat-icon
        ><mat-icon *ngIf="!hidden">visibility_off</mat-icon>
      </button>
      </span>
    </span>
    <p style="font-size: 2rem; margin-bottom: 10px !important; font-weight: bold" class="m-0">Select Request Channel</p>
    <mat-radio-group
      aria-label="Select an option"
      color="primary"
      style="font-size: 15px; font-weight: 200"
      (change)="ChannelChange($event)"
    >
      <mat-radio-button value="GPRS">GPRS</mat-radio-button>
      <br />
      <mat-radio-button value="SMS">SMS</mat-radio-button>
    </mat-radio-group>
    <span class="actionBtnGroup">
      <button mat-button class="CommandSendButton" (click)="sendRequest()">
        Send
      </button>
      &nbsp;
      <button mat-button class="CommandCancelButton" (click)="cancelRequest()">
        Cancel
      </button>
    </span>
  </span>
  <!-- Change APN Username and Password Content -->

  <!-- Reset Odometer Content -->
  <span class="alarmResetDialog" *ngIf="settingName =='Reset Odometer'">
    <p style="font-size: 2rem; margin-bottom: 10px !important; font-weight: bold" class="m-0">Enter Mileage:</p>
    <span>

      <input
      type="text"
      class="mileageInput"
      placeholder="Mileage"
      style="
        background: transparent;
        outline: none;
        border: none;
        border-bottom: 1px solid black;
        text-align: center;
        padding: 5px 15px;
        color: black;
        font-size: 13px;
        margin-bottom: 10px;
        "
      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1')"
      />
      km
    </span>
    <p style="font-size: 2rem; margin-bottom: 10px !important; font-weight: bold" class="m-0">Select Request Channel</p>
    <mat-radio-group
      aria-label="Select an option"
      color="primary"
      style="font-size: 15px; font-weight: 200"
      (change)="ChannelChange($event)"
    >
      <mat-radio-button value="GPRS">GPRS</mat-radio-button>
      <br />
      <mat-radio-button value="SMS">SMS</mat-radio-button>
    </mat-radio-group>
    <span class="actionBtnGroup">
      <button mat-button class="CommandSendButton" (click)="sendRequest()">
        Send
      </button>
      &nbsp;
      <button mat-button class="CommandCancelButton" (click)="cancelRequest()">
        Cancel
      </button>
    </span>
  </span>
  <!-- Reset Odometer Content -->
  <!-- Reset Odometer Content -->
  <span
    class="alarmResetDialog"
    *ngIf="settingName =='Text Command(6600,7700,GS Series)'"
    >
    <!-- <span>
      <p style="font-size: 2rem; margin-bottom: 10px !important; font-weight: bold" class="m-0">Enter Command:</p>
      <textarea
        class="textCommandInput"
        placeholder="Enter Command"
        rows="5"
        style="
          background: transparent;
          outline: none;
          border: 1px solid black;
          text-align: center;
          padding: 5px 15px;
          color: black;
          font-size: 13px;
          margin-bottom: 10px;
        "
      >
      </textarea>
    </span> -->
    <p style="font-size: 2rem; margin-bottom: 10px !important; font-weight: bold" class="m-0">Select Request Channel</p>
    <mat-radio-group
      aria-label="Select an option"
      color="primary"
      style="font-size: 15px; font-weight: 200"
      (change)="ChannelChange($event)"
    >
      <mat-radio-button value="GPRS">GPRS</mat-radio-button>
      <br />
      <mat-radio-button value="SMS">SMS</mat-radio-button>
    </mat-radio-group>
    <span class="actionBtnGroup">
      <button mat-button class="CommandSendButton" (click)="sendRequest()">
        Send
      </button>
      &nbsp;
      <button mat-button class="CommandCancelButton" (click)="cancelRequest()">
        Cancel
      </button>
    </span>
  </span>
  <!-- Reset Odometer Content -->
</div>
