@import "../../theme/styles/variables";

.sidenav {
  width: $sidenav-width;
  overflow: hidden;
  border: none !important;
}
.horizontal-menu {
  padding: 0;
  position: relative;
  z-index: 9;
  height: 0;
  &.sticky {
    height: 0;
    min-height: 0;
    overflow: hidden;
    &.fixed-top {
      position: fixed;
      top: 0;
      height: $horizontal-menu-height;
      overflow: visible;
    }
  }
}

.inner-sidenav-content {
  position: absolute;
  top: $toolbar-height;
  bottom: 0;
  left: 0;
  right: 0;
  //   padding: $inner-sidenav-content-padding;
  min-height: calc(
    100% - (#{$toolbar-height} + #{$inner-sidenav-content-padding}* 2)
  );
  .has-footer {
    min-height: calc(100% - (45px + #{$footer-height}));
  }
  .footer {
    height: $footer-height;
    margin: 0 -8px -8px -8px;
    padding: 0 16px;
  }
}

.options {
  position: fixed;
  width: $sidenav-width;
  overflow: hidden;
  .control {
    padding: 6px 14px;
    div {
      padding: 6px 0;
    }
    h4 {
      border-bottom: 1px solid #ccc;
      margin: 12px 0 6px 0;
    }
    .skin-primary {
      width: 32px;
      height: 32px;
      padding: 0;
      overflow: hidden;
      cursor: pointer;
      .skin-secondary {
        width: 0;
        height: 0;
        padding: 0;
        border-bottom: 32px solid;
        border-left: 32px solid transparent;
      }
      &.indigo-light {
        background-color: #3f51b5;
        border: 1px solid #3f51b5;
        .skin-secondary {
          border-bottom-color: #ececec;
        }
      }
      &.teal-light {
        background-color: #009688;
        border: 1px solid #009688;
        .skin-secondary {
          border-bottom-color: #ececec;
        }
      }
      &.red-light {
        background-color: #f44336;
        border: 1px solid #f44336;
        .skin-secondary {
          border-bottom-color: #ececec;
        }
      }
      &.blue-dark {
        background-color: #0277bd;
        border: 1px solid #0277bd;
        .skin-secondary {
          border-bottom-color: #262626;
        }
      }
      &.green-dark {
        background-color: #388e3c;
        border: 1px solid #388e3c;
        .skin-secondary {
          border-bottom-color: #262626;
        }
      }
      &.pink-dark {
        background-color: #d81b60;
        border: 1px solid #d81b60;
        .skin-secondary {
          border-bottom-color: #262626;
        }
      }
    }
  }
  .mat-radio-group {
    display: inline-flex;
    flex-direction: column;
    .mat-radio-button {
      margin: 2px 0;
    }
  }
  .mat-slide-toggle {
    height: auto;
  }
  .ps {
    height: calc(100% - 48px);
  }
}
.op-image {
  box-shadow: 0 0 2px #ccc;
  border: 2px solid;
  border-color: transparent;
  cursor: pointer;
  transition: 0.2s;
}
.options-icon {
  position: fixed;
  top: 110px;
  right: 0;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  cursor: pointer;
  z-index: 999999;
  .mat-icon {
    -webkit-animation: spin 8s linear infinite;
    -moz-animation: spin 8s linear infinite;
    animation: spin 8s linear infinite;
  }
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.mat-hover:hover {
  color: rgb(251, 182, 42) !important;
  text-decoration: underline;
}
.mat-child:hover {
  background-color: rgb(251, 182, 42) !important;
  color: #283593 !important;
}
.back-to-top {
  position: fixed;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 999999;
  right: 20px;
  bottom: 20px;
  opacity: 0.5;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  &:hover {
    opacity: 0.9;
  }
}

.search-bar {
  form {
    input {
      height: 28px;
      border: none;
      padding: 0;
      border-radius: 15px;
      outline: none;
      color: #444;
      width: 0;
      overflow: hidden;
      transition: 0.3s;
      &.show {
        padding: 0 8px;
        width: 250px;
      }
    }
  }
}
#mapType {
  background-color: #18497d;
  color: white;
  border: none;
  outline: none;
  margin-bottom: 20px;
  box-shadow: none;
  width: max-content;
  cursor: pointer;
}
#mapType:hover {
  color: rgb(251, 182, 42) !important;
}
#mapType:focus {
  box-shadow: none;
}
.panelKeysContainer {
  display: flex;
  background: #18497d !important;
  margin-bottom: 3px;
}
.userPanelKeys {
  color: white !important;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% / 3) !important;
}
.mat-tab-label {
  height: 48px;
  padding: 0 !important;
  cursor: pointer;
  box-sizing: border-box;
  opacity: 0.6;
  min-width: fit-content !important;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  position: relative;
}
.SearchInput {
  border: none;
  outline: none;
  box-shadow: inset 0px 0px 2px 0px black;
  margin: 5px 0px;
  width: 100%;
  padding: 5px 10px;
  border-radius: 20px;
}
.sideList {
  font-size: 11.9px;
  font-weight: bolder;
  background-color: #18497d;
  color: white;
  padding: 4px 0px 4px 7px;
  border-right: 4px solid white;
  font-family: "Times New Roman";
  border-radius: 4px 8px 0px 0px;
}
.mat-expansion-panel-header {
  background-color: #18497d !important;
}
.mat-expansion-panel-header.nestedPanelHeader {
  background: #4b89b9 !important;
}
.mat-expansion-panel-header-title {
  color: white !important;
  width: 100% !important;
}
.singleDevice {
  display: flex;
  // justify-content: space-evenly;
  align-items: center !important;
}
.singleDevice input[type="checkbox"] {
  width: 30px !important;
}
.singleDevice .speedCheck {
  width: 30px !important;
}

.dialogTitle {
  background: #18497d !important;
  padding: 15px 10px !important;
  color: white !important;
  margin: 0px !important;
}
.disabled {
  opacity: 0.6 !important;
  cursor: not-allowed !important;
}
.dialogContent {
  padding: 10px 20px !important;
  background-image: url("../../../assets/images/map.png") !important;
  background-size: 51% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-color: #f6f6f6;
}
.historyInput {
  border: none !important;
  outline: none;
  border-radius: 20px;
  width: 80% !important;
  padding: 5px 10px;
  box-shadow: 0px 0px 4px 0px #000;
  color: lightgray;
}
.historyInputDate {
  border: none !important;
  outline: none;
  border-radius: 20px;
  width: 100% !important;
  padding: 5px 10px;
  box-shadow: 0px 0px 4px 0px #000;
  color: lightgray;
}
.historyInput:focus {
  outline: none;
  box-shadow: 0px 0px 5px 2px #2282e9;
}
.historyInputDate:focus {
  outline: none;
  box-shadow: 0px 0px 5px 2px #2282e9;
}
.mat-dialog-container {
  border-radius: 17px !important;
}
.recordDialogOffset {
  position: absolute;
  bottom: 50px !important;
  // padding: 0px !important;
  background-color: #18497d;
  border-radius: 10px;
  left: 33%;
  width: 50%;
}
.googleMapRecord {
  width: 60%;
  left: 23%;
}
.recordDialogOffset button {
  height: 50px !important;
  width: calc(80% / 6) !important;
  border: none;
  outline: none;
  margin-left: calc(10rem / 5);
  background-repeat: no-repeat;
  position: relative;
}
.recordDialogOffset button img {
  height: 75% !important;
}

.recordDialogOffset button:nth-of-type(5) img {
  height: 50% !important;
}
.recordDialogOffset button:nth-of-type(6) img {
  height: 50% !important;
}
.recordDialogOffset button:nth-of-type(7) img {
  height: 50% !important;
}

// .recordControl:nth-of-type(1) {
// margin-left: calc(10rem / 5);
// background-image: url("../../../assets/icons/Export.png");
// }
// .recordControl:nth-of-type(2) {
//   // background-image: url("../../../assets/icons/Route.png");
// }
// .recordControl:nth-of-type(3) {
//   // background-image: url("../../../assets/icons/Pause.png");
// }
// .recordControl:nth-of-type(4) {
//   // background-image: url("../../../assets/icons/Play.png");
// }
.recordControl:nth-of-type(5) {
  height: 50% !important;
}
.recordControl:nth-of-type(6) {
  height: 50% !important;
}
.recordControl:nth-of-type(7) {
  height: 50% !important;
}
.export {
  position: absolute;
  bottom: 90% !important;
  left: 27px;
}
.export button {
  height: 45px !important;
  width: 45px !important;
  border: none;
  outline: none;
  background-color: transparent;
  border-radius: 50% !important;
  // box-shadow: 0px 0px 5px 0px black !important;
  margin-bottom: 10px;
}
.export button img {
  height: 100% !important;
}

.shapeSelect {
  position: absolute;
  bottom: 111% !important;
  left: 148px;
}
.shapeSelect button {
  height: 20px !important;
  width: 20px !important;
  border: none;
  outline: none;
  background-color: transparent;
  border-radius: 50% !important;
  // box-shadow: 0px 0px 5px 0px black !important;
  margin-bottom: 10px;
}
.shapeSelect button img {
  height: 100% !important;
}
.notificationPanel {
  right: 14%;
  position: absolute;
  background-color: white;
  width: 20vw;
  height: 30vh;
  overflow-y: scroll;
}
.notificationPanel::-webkit-scrollbar {
  display: none;
}
.notificationPanel::-webkit-scrollbar-thumb {
  display: none;
}
.notification {
  margin: 5px;
}

//

.vehicleCardLeaflet {
  position: absolute;
  width: 40%;
  height: fit-content;
  z-index: 1111111;
  bottom: 4%;
  left: 39%;
  background-color: rgb(255, 255, 255);
  padding: 3px 2px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}

.carName {
  font-size: 20px;
  color: #18497d;
  border-bottom: 2px solid #bca0dc;
}

.showMoreButton {
  background-color: #ffc922;
  color: #18497d;
  // width: 200px !important;
  // margin: 10px 0px 10px 90px;
}

.vehicleCardLeafletMore {
  position: absolute;
  width: 65%;
  z-index: 1111111;
  bottom: 4%;
  right: 9%;
  background-color: rgb(255, 255, 255);
  padding: 7px 2px;
  padding-bottom: 0px !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.vehicleCardMore i {
  color: #00c190 !important;
}

.locationIcon {
  margin-top: 10px;
  padding-top: 40px;
  padding-bottom: 70px;
  margin-bottom: 10px;

  border-right: 2px solid #bca0dc;
}

.headingStatus {
  padding-left: 20%;
  font-size: 18px;
  color: #18497d;
}

.deviceStatus {
  padding: 0;
  margin-top: 4px;
}

.showLessButton {
  background-color: #ffc922;
  color: #18497d;
  margin-top: 2px;
  // width: 200px !important;
  // margin: 10px 0px 10px 90px;
}

.Icon {
  margin-top: 10px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 10px;
}

.iconImg {
  margin-top: -10px;
}

.vehicleSpeedDescription3 {
  color: grey;
  font-size: 12px;
}

.shortdes {
  font-size: 10px;
}

.secondContainer {
  margin-top: 10px;
  margin-bottom: 10px;
  border-left: 2px solid #bca0dc;
}
.createFence {
  height: max-content;
  width: 400px;
  position: absolute;
  right: 17px;
  top: 72px;
  padding: 10px;
  background: white;
  outline: none;
}
.createFence h3 {
  margin: 0px !important;
}
.createFence .fenceType {
  width: 100%;
  padding: 5px 20px;
  border-radius: 10px;
}
.createFence .fenceType:focus {
  box-shadow: none;
  outline: none;
}
.createFence .confirmationBox {
  padding: 10px !important;
  display: flex;
  justify-content: space-between;
}
.createFence .confirmationBox .fenceDrawBtn {
  border: none;
  outline: none;
  background: rgb(185, 125, 11);
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  margin-right: 5px;
}
.createFence .confirmationBox .fenceCancelBtn {
  border: none;
  outline: none;
  background: #bb2424;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  margin-right: 5px;
}

.createFence .confirmationBox .fenceDoneBtn {
  border: none;
  outline: none;
  background: rgb(24, 131, 24);
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
}
