<div mat-dialog-title class="dialogTitle">
  <h3 style="margin: 0">Controls</h3>
  <button mat-icon-button (click)="closeDialog()">
    <mat-icon>highlight_off</mat-icon>
  </button>
</div>
<div mat-dailog-content *ngIf="loading == true" class="dialogContent"
  style="display: flex; justify-content: center; align-items: center;">
  <mat-spinner></mat-spinner>
</div>
<div class="m-0 p-0 dialogContent" mat-dialog-content *ngIf="loading == false">
      <div class="row m-0 p-0">
        <div class="col-md-12 settingType row mb-2 border-bottom" *ngFor="let command of AllCommands; let i = index">
          <div class="col-md-11 p-0 ">
            <h5 style="color: #18497d; font-weight: bold;" class="m-0">{{command.Name}}</h5>
          </div>
          <button [name]="command.Name" mat-button class="col-md-1 m-0 p-0 commandSendBtn"
            (click)="OpenCommandDialog( command.Name , command.p_cmd_id)">
            <mat-icon style="font-size: 18px">send</mat-icon>
            <!-- <p class="m-0 p-0" style="font-weight: 500;">Send</p> -->
          </button>
        </div>
      </div>
</div>