<div mat-dialog-title class="dialogTitleInner">
  <h3 class="m-0 p-0">{{commandType?commandType:'Test'}}</h3>
  <button mat-icon-button (click)="cancelRequest()">
    <mat-icon>highlight_off</mat-icon>
  </button>
</div>
<div class="m-0 p-0 dialogContent dialogContentInner" mat-dialog-content>
  <!-- Alarm Reset Content -->
  <span class="alarmResetDialog" *ngIf="commandType =='Alarm Reset'">
    <p
      style="font-size: 2rem; margin-bottom: 30px !important; font-weight: bold"
      class="m-0"
    >
      Select Request Channel
    </p>
    <mat-radio-group
      aria-label="Select an option"
      color="primary"
      style="font-size: 14px; font-weight: lighter"
      (change)="ChannelChange($event)"
    >
      <mat-radio-button value="GPRS">GPRS</mat-radio-button>
      <br />
      <mat-radio-button value="SMS">SMS</mat-radio-button>
    </mat-radio-group>
    <span class="actionBtnGroup">
      
      <button mat-button class="CommandSendButton" (click)="sendRequest()">
        Send
      </button>
      &nbsp;
      <button mat-button class="CommandCancelButton" (click)="cancelRequest()">
        Cancel
      </button>
    </span>
  </span>
  <!-- Alarm Reset Content -->
  <!-- Take Picture Content -->
  <span class="takePictureDialog" *ngIf="commandType =='Take Picture'">
    <span>
      <h3>Select Camera Channel</h3>
      <mat-radio-group color="primary" (change)="camChannelChange($event)">
        <mat-radio-button class="camChannelRadio" value="1">
          <mat-icon>camera_alt</mat-icon>1
        </mat-radio-button>
        <mat-divider></mat-divider>
        <mat-radio-button class="camChannelRadio" value="2">
          <mat-icon>camera_alt</mat-icon>2
        </mat-radio-button>
        <mat-divider></mat-divider>
        <mat-radio-button class="camChannelRadio" value="3">
          <mat-icon>camera_alt</mat-icon>3
        </mat-radio-button>
        <mat-divider></mat-divider>
        <mat-radio-button class="camChannelRadio" value="4">
          <mat-icon>camera_alt</mat-icon>4
        </mat-radio-button>
        <mat-divider></mat-divider>
        <mat-radio-button class="camChannelRadio" value="5">
          <mat-icon>camera_alt</mat-icon>5
        </mat-radio-button>
        <mat-divider></mat-divider>
        <mat-radio-button class="camChannelRadio" value="6">
          <mat-icon>camera_alt</mat-icon>6
        </mat-radio-button>
        <mat-divider></mat-divider>
        <mat-radio-button class="camChannelRadio" value="7">
          <mat-icon>camera_alt</mat-icon>7
        </mat-radio-button>
        <mat-divider></mat-divider>
        <mat-radio-button class="camChannelRadio" value="8">
          <mat-icon>camera_alt</mat-icon>8
        </mat-radio-button>
        <mat-divider></mat-divider>
        <mat-radio-button class="camChannelRadio" value="9">
          <mat-icon>camera_alt</mat-icon>9
        </mat-radio-button>
        <mat-divider></mat-divider>
        <mat-radio-button class="camChannelRadio" value="10">
          <mat-icon>camera_alt</mat-icon>10
        </mat-radio-button>
        <mat-divider></mat-divider>
      </mat-radio-group>
    </span>
    <span>
      <h3>Select Picture Quality</h3>
      <mat-radio-group color="primary" (change)="picQualityChange($event)">
        <mat-radio-button value="High">High</mat-radio-button>
        <mat-divider></mat-divider>
        <mat-radio-button value="Medium">Medium</mat-radio-button>
        <mat-divider></mat-divider>
        <mat-radio-button value="Low">Low</mat-radio-button>
      </mat-radio-group>
    </span>
    <mat-divider></mat-divider>
    <span>
      <p
        style="
          font-size: 2rem;
          margin-bottom: 30px !important;
          font-weight: bold;
        "
        class="m-0"
      >
        Select Request Channel
      </p>
      <mat-radio-group
        aria-label="Select an option"
        color="primary"
        style="font-size: 14px; font-weight: lighter"
        (change)="ChannelChange($event)"
      >
        <mat-radio-button value="GPRS">GPRS</mat-radio-button>
        <br />
        <mat-radio-button value="SMS">SMS</mat-radio-button>
      </mat-radio-group>
    </span>
    <br />
    <span style="align-self: center">
      <button mat-button class="CommandCancelButton" (click)="cancelRequest()">
        Cancel
      </button>
      &nbsp;
      <button mat-button class="CommandSendButton" (click)="sendRequest()">
        Send
      </button>
    </span>
  </span>
  <!-- Take Picture Content -->
  <!-- Alarm Reset Content -->
  <span class="alarmResetDialog" *ngIf="commandType =='Canbus Data Upload'">
    <p
      style="font-size: 2rem; margin-bottom: 30px !important; font-weight: bold"
      class="m-0"
    >
      Select Request Channel
    </p>
    <mat-radio-group
      aria-label="Select an option"
      color="primary"
      style="font-size: 14px; font-weight: lighter"
      (change)="ChannelChange($event)"
    >
      <mat-radio-button value="GPRS">GPRS</mat-radio-button>
      <br />
      <mat-radio-button value="SMS">SMS</mat-radio-button>
    </mat-radio-group>
    <span class="actionBtnGroup">
      <button mat-button class="CommandCancelButton" (click)="cancelRequest()">
        Cancel
      </button>
      &nbsp;
      <button mat-button class="CommandSendButton" (click)="sendRequest()">
        Send
      </button>
    </span>
  </span>
  <!-- Alarm Reset Content -->
  <!-- Device Reboot Content -->
  <span class="alarmResetDialog" *ngIf="commandType =='Device Reboot'">
    <p
      style="font-size: 2rem; margin-bottom: 30px !important; font-weight: bold"
      class="m-0"
    >
      Select Request Channel
    </p>
    <mat-radio-group
      aria-label="Select an option"
      color="primary"
      style="font-size: 14px; font-weight: lighter"
      (change)="ChannelChange($event)"
    >
      <mat-radio-button value="GPRS">GPRS</mat-radio-button>
      <br />
      <mat-radio-button value="SMS">SMS</mat-radio-button>
    </mat-radio-group>
    <span class="actionBtnGroup">
      <button mat-button class="CommandCancelButton" (click)="cancelRequest()">
        Cancel
      </button>
      &nbsp;
      <button mat-button class="CommandSendButton" (click)="sendRequest()">
        Send
      </button>
    </span>
  </span>
  <!-- Device Reboot Content -->
  <!-- Output2 on Content -->
  <span class="alarmResetDialog" *ngIf="commandType =='Output2 on'">
    <p
      style="font-size: 2rem; margin-bottom: 30px !important; font-weight: bold"
      class="m-0"
    >
      Select Request Channel
    </p>
    <mat-radio-group
      aria-label="Select an option"
      color="primary"
      style="font-size: 14px; font-weight: lighter"
      (change)="ChannelChange($event)"
    >
      <mat-radio-button value="GPRS">GPRS</mat-radio-button>
      <br />
      <mat-radio-button value="SMS">SMS</mat-radio-button>
    </mat-radio-group>
    <span class="actionBtnGroup">
      <button mat-button class="CommandCancelButton" (click)="cancelRequest()">
        Cancel
      </button>
      &nbsp;
      <button mat-button class="CommandSendButton" (click)="sendRequest()">
        Send
      </button>
    </span>
  </span>
  <!-- Output2 on Content -->
  <!-- Output2 off Content -->
  <span class="alarmResetDialog" *ngIf="commandType =='Output2 off'">
    <p
      style="font-size: 2rem; margin-bottom: 30px !important; font-weight: bold"
      class="m-0"
    >
      Select Request Channel
    </p>
    <mat-radio-group
      aria-label="Select an option"
      color="primary"
      style="font-size: 14px; font-weight: lighter"
      (change)="ChannelChange($event)"
    >
      <mat-radio-button value="GPRS">GPRS</mat-radio-button>
      <br />
      <mat-radio-button value="SMS">SMS</mat-radio-button>
    </mat-radio-group>
    <span class="actionBtnGroup">
      <button mat-button class="CommandCancelButton" (click)="cancelRequest()">
        Cancel
      </button>
      &nbsp;
      <button mat-button class="CommandSendButton" (click)="sendRequest()">
        Send
      </button>
    </span>
  </span>
  <!-- Output2 off Content -->
  <!-- Output3 on Content -->
  <span class="alarmResetDialog" *ngIf="commandType =='Output3 on'">
    <p
      style="font-size: 2rem; margin-bottom: 30px !important; font-weight: bold"
      class="m-0"
    >
      Select Request Channel
    </p>
    <mat-radio-group
      aria-label="Select an option"
      color="primary"
      style="font-size: 14px; font-weight: lighter"
      (change)="ChannelChange($event)"
    >
      <mat-radio-button value="GPRS">GPRS</mat-radio-button>
      <br />
      <mat-radio-button value="SMS">SMS</mat-radio-button>
    </mat-radio-group>
    <span class="actionBtnGroup">
      <button mat-button class="CommandCancelButton" (click)="cancelRequest()">
        Cancel
      </button>
      &nbsp;
      <button mat-button class="CommandSendButton" (click)="sendRequest()">
        Send
      </button>
    </span>
  </span>
  <!-- Output3 on Content -->
  <!-- Output3 off Content -->
  <span class="alarmResetDialog" *ngIf="commandType =='Output3 off'">
    <p
      style="font-size: 2rem; margin-bottom: 30px !important; font-weight: bold"
      class="m-0"
    >
      Select Request Channel
    </p>
    <mat-radio-group
      aria-label="Select an option"
      color="primary"
      style="font-size: 14px; font-weight: lighter"
      (change)="ChannelChange($event)"
    >
      <mat-radio-button value="GPRS">GPRS</mat-radio-button>
      <br />
      <mat-radio-button value="SMS">SMS</mat-radio-button>
    </mat-radio-group>
    <span class="actionBtnGroup">
      <button mat-button class="CommandCancelButton" (click)="cancelRequest()">
        Cancel
      </button>
      &nbsp;
      <button mat-button class="CommandSendButton" (click)="sendRequest()">
        Send
      </button>
    </span>
  </span>
  <!-- Output3 off Content -->
  <!-- Output1(Imb) On Content -->
  <span class="alarmResetDialog" *ngIf="commandType =='Output1(Imb) On'">
    <p
      style="font-size: 2rem; margin-bottom: 30px !important; font-weight: bold"
      class="m-0"
    >
      Select Request Channel
    </p>
    <mat-radio-group
      aria-label="Select an option"
      color="primary"
      style="font-size: 14px; font-weight: lighter"
      (change)="ChannelChange($event)"
    >
      <mat-radio-button value="GPRS">GPRS</mat-radio-button>
      <br />
      <mat-radio-button value="SMS">SMS</mat-radio-button>
    </mat-radio-group>
    <span class="actionBtnGroup">
      <button mat-button class="CommandCancelButton" (click)="cancelRequest()">
        Cancel
      </button>
      &nbsp;
      <button mat-button class="CommandSendButton" (click)="sendRequest()">
        Send
      </button>
    </span>
  </span>
  <!-- Output1(Imb) On Content -->
  <!-- Output1(Imb) Off Content -->
  <span class="alarmResetDialog" *ngIf="commandType =='Output1(Imb) Off'">
    <p
      style="font-size: 2rem; margin-bottom: 30px !important; font-weight: bold"
      class="m-0"
    >
      Select Request Channel
    </p>
    <mat-radio-group
      aria-label="Select an option"
      color="primary"
      style="font-size: 14px; font-weight: lighter"
      (change)="ChannelChange($event)"
    >
      <mat-radio-button value="GPRS">GPRS</mat-radio-button>
      <br />
      <mat-radio-button value="SMS">SMS</mat-radio-button>
    </mat-radio-group>
    <span class="actionBtnGroup">
      <button mat-button class="CommandCancelButton" (click)="cancelRequest()">
        Cancel
      </button>
      &nbsp;
      <button mat-button class="CommandSendButton" (click)="sendRequest()">
        Send
      </button>
    </span>
  </span>
  <!-- Output1(Imb) Off Content -->
  <!-- Location Content -->
  <span class="alarmResetDialog" *ngIf="commandType =='Location'">
    <p
      style="font-size: 2rem; margin-bottom: 30px !important; font-weight: bold"
      class="m-0"
    >
      Select Request Channel
    </p>
    <mat-radio-group
      aria-label="Select an option"
      color="primary"
      style="font-size: 14px; font-weight: lighter"
      (change)="ChannelChange($event)"
    >
      <mat-radio-button value="GPRS">GPRS</mat-radio-button>
      <br />
      <mat-radio-button value="SMS">SMS</mat-radio-button>
    </mat-radio-group>
    <span class="actionBtnGroup">
      <button mat-button class="CommandCancelButton" (click)="cancelRequest()">
        Cancel
      </button>
      &nbsp;
      <button mat-button class="CommandSendButton" (click)="sendRequest()">
        Send
      </button>
    </span>
  </span>
  <!-- Location Content -->
  <!-- Voice Monitor Content -->
  <span class="alarmResetDialog" *ngIf="commandType =='Voice Monitor'">
    <!-- <span class="alarmResetDialog"> -->
    <p
      style="font-size: 2rem; margin-bottom: 30px !important; font-weight: bold"
      class="m-0"
    >
      Enter Phone Number:
    </p>
    <input
      type="text"
      placeholder="Enter Phone Number"
      style="
        background: transparent;
        outline: none;
        border: none;
        border-bottom: 1px solid black;
        text-align: center;
        padding: 5px 15px;
        color: black;
        font-size: 13px;
        margin-bottom: 30px;
      "
      (change)="numberChange($event)"
      [value]="phoneNumber?phoneNumber:''"
      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1')"
    />

    <p
      style="font-size: 2rem; margin-bottom: 30px !important; font-weight: bold"
      class="m-0"
    >
      Select Request Channel
    </p>
    <mat-radio-group
      aria-label="Select an option"
      color="primary"
      style="font-size: 14px; font-weight: lighter"
      (change)="ChannelChange($event)"
    >
      <mat-radio-button value="GPRS">GPRS</mat-radio-button>
      <br />
      <mat-radio-button value="SMS">SMS</mat-radio-button>
    </mat-radio-group>
    <span class="actionBtnGroup">
      <button mat-button class="CommandCancelButton" (click)="cancelRequest()">
        Cancel
      </button>
      &nbsp;
      <button mat-button class="CommandSendButton" (click)="sendRequest()">
        Send
      </button>
    </span>
  </span>
  <!-- Voice Monitor Content -->

  <!-- Default Modal -->
  <span *ngIf="!commandType">Test Dialog</span>
  <!-- Default Modal -->
</div>
