  table {
    width: 100%;
    height: 400px;
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  
.mat-card{
  // height: 80vh !important;
  padding: 0 !important;
  margin: 0px 10px;
  .mat-card-title{
    padding: 16px;
    background-color: #18497D;
    color: white;
  }
  .mat-card-content{
    padding:0px 16px;
  }
}