<div mat-dialog-title class="dialogTitle">
  <h2 style="margin: 0">History</h2>
  <button mat-icon-button mat-dialog-close class="closeBtn">
    <mat-icon>highlight_off</mat-icon>
  </button>
</div>
<div class="m-0 p-0 row dialogContent">
  <div class="col-md-6 m-0 p-0">
    <form class="row m-0 p-0" style="padding: 10px !important" (ngSubmit)="onSubmit()">
      <div class="col-md-12 m-0 p-0 row inputSettings">
        <div class="col-md-3">
          <label>View Type</label>
        </div>
        <div class="col-md-9 p-0">
          <select class="historyInput" name="History_type" id="historyType" value="View Type">
            <option value="View Type" selected disabled>View Type</option>
            <option value="Replay">Replay</option>
          </select>
        </div>
      </div>
      <div class="col-md-12 m-0 p-0 row inputSettings">
        <div class="col-md-3">
          <label>Period Type</label>
        </div>
        <div class="col-md-9 p-0">
          <select class="historyInput" name="Period_type" id="periodType" value="Period Type" (change)="periodTypeChange($event)">
            <option value="Period Type" selected disabled>Period Type</option>
            <option value="Custom Date">Custom Date</option>
            <option value="Today">Today</option>
            <option value="Weekly">Weekly</option>
            <option value="Monthly">Monthly</option>
          </select>
        </div>
      </div>
      <div class="col-md-12 m-0 p-0 row inputSettings">
        <div class="col-md-3">
          <label>Date</label>
        </div>
        <div class="col-md-9 p-0 row m-0" style="display: flex; justify-content: space-between; align-items: center;">
          <div class=" col-md-6 m-0 p-0" style="padding-right: 15px !important;">
            <input placeholder="Start Date" type="text" onfocus="(this.type='datetime-local')" class="historyInputDate" name="de_Start" id="de_start" /> 
          </div>
          <div class=" col-md-6 m-0 p-0" style="padding-left: 15px !important;">
            <input placeholder="End Date" type="text" onfocus="(this.type='datetime-local')" class="historyInputDate" name="de_end" id="de_end"/></div>
        </div>
      </div>
      <div class="col-md-12 m-0 p-0 row inputSettings">
        <div class="col-md-3">
          <label>Speed</label>
        </div>
        <div class="col-md-9 checkboxInput">
          <label class="m-0" for="speed">Speed >0km</label>
          <input class="m-0" type="checkbox" id="speed" name="Speed" (change)="onCheck($event)" /> {{" "}}
        </div>
      </div>
      <div class="col-md-12 m-0 p-0 row inputSettings">
        <div class="col-md-3">
          <label>Alarm Trace</label>
        </div>
        <div class="col-md-9 checkboxInput">
          <label class="m-0" for="alarmTrace">Show Alarm Trace</label>
          <input class="m-0" type="checkbox" id="alarmTrace" name="alarmTrace" (change)="onCheck($event)" /> {{" "}}
        </div>
      </div>
      <div class="col-md-12 m-0 p-0 row inputSettings" style="justify-content: flex-end !important;">
          <button class="HistoryBtn" mat-button [disabled]="loading" [class.disabled]="loading">
            Search
          </button>
      </div>
    </form>
  </div>
  <div class="col-md-6 m-0 p-0 bgImageCol" *ngIf="loading == false"></div>
  <div class="col-md-6 m-0 p-0 loading" *ngIf="loading == true">
    <mat-spinner>
    </mat-spinner>
  </div>
</div>