.app {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#app-spinner {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  background: #fff;
  z-index: 999999;
  visibility: visible;
  opacity: 1;
  -webkit-transition: visibility 0.5s, opacity 0.3s linear;
  -moz-transition: visibility 0.5s, opacity 0.3s linear;
  transition: visibility 0.5s, opacity 0.3s linear;
  &.hide {
    visibility: hidden;
    opacity: 0;
  }
  h4 {
    margin-top: 10px;
    letter-spacing: 0.02em;
    opacity: 0;
    text-transform: uppercase;
    -moz-animation: loading-text-opacity 2s linear 0s infinite normal;
    -o-animation: loading-text-opacity 2s linear 0s infinite normal;
    -webkit-animation: loading-text-opacity 2s linear 0s infinite normal;
    animation: loading-text-opacity 2s linear 0s infinite normal;
  }
}

@keyframes loading-text-opacity {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes loading-text-opacity {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes loading-text-opacity {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes loading-text-opacity {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

// add by sohail
::ng-deep.mat-dialog-container {
  padding: 0px !important;
}
::ng-deep.user-form .mat-form-field {
  width: 100%;
  font-size: 13px;
  margin-bottom: -1.34375em;
}
::ng-deep.dataTables_empty {
  display: none;
}
::ng-deep input[type="button"] {
  outline: none;
}
.bg-navy {
  background-color: #001f3f !important;
}
.bg-purple {
  background-color: #605ca8 !important;
}
::ng-deep.ng-select-container {
  border-radius: 1px !important;
}

::ng-deep.ng-select .ng-select-container {
  min-height: 20px;
}

::ng-deep.ng-select.ng-select-single .ng-select-container {
  height: 34px;
}
::ng-deep.text-align-center {
  text-align: center;
}
::ng-deep.invalid-feedback {
  color: red;
}
::ng-deep.is-invalid {
  border-color: red;
}
// ::ng-deep.modal-backdrop {
//     z-index: 0 !important;
//     position: fixed;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     /* z-index: 1040; */
//     background-color:#000;
// }
// ::ng-deep.modal-header {
//     padding: 4px;
//     border-bottom: 1px solid #e5e5e5;
//     // background : #283593;
//     // color: white
// }
// ::ng-deep.modal-header .close {
//     margin-top: -15px !important;
//     // color: white;
// }

// ::ng-deep.modal-backdrop{
//     backdrop-filter: blur(5px);
//     background-color: #01223770;
//  }
//  ::ng-deep.modal-backdrop.in{
//     opacity: 1 !important;
//  }

::ng-deep.delete_user_button {
  margin-left: 5px !important;
}
::ng-deep.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
::ng-deepa:hover {
  text-decoration: none;
}
::ng-deep.table_font_size {
  font-size: 12px;
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
::ng-deep.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner 0.8s linear infinite;
}
::ng-deep.modal-backdrop {
  z-index: -1;
}
